@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .table-header {
    @apply bg-gray-100 text-left;
  }

  .table-cell {
    @apply px-4 py-4;
  }

  .table-row {
    @apply transition-colors duration-200;
  }

  .table-row:hover {
    @apply bg-gray-50;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px #242424 inset !important;
  box-shadow: 0 0 0 500px #242424 inset !important;
  border: 1px solid white;
  -webkit-text-fill-color: white !important;
  border-radius: 16px;
  background-color: #242424 !important;
  background-clip: padding-box !important;
}